@import url("/Components/Alert/alert.css");
@import url("/Components/Avatar/avatar.css");
@import url("/Components/Badge/badge.css");
@import url("/Components/Button/button.css");
@import url("/Components/Card/card.css");
@import url("/Components/Image/image.css");
@import url("/Components/Input/input.css");
@import url("/Components/Text-Utility/text.css");
@import url("/Components/List/list.css");
@import url("/Components/Modal/modal.css");
@import url("/css/utility.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins:wght@300;400&family=Ubuntu:wght@300;400&display=swap");

/* body {
  background-color: var(--card-container-bg);
} */
:root {
  --main-bg-color: #f5f7f9;

  /* alert*/
  --pm-alert-color: #a2d2ff;
  --suc-alert-color: #76c893;
  --warn-alert-color: #ffe169;
  --dgr-alert-color: #ff8fab;

  /*badges*/
  --online: rgb(32, 184, 32);
  --offline: rgb(187, 179, 179);
  --dnd: rgb(233, 104, 104);
  --num-badge: rgb(63, 187, 224);

  /*button*/
  --primary: #007fff;
  --secondary: #0059b2;
  --disabled: #007fff75;
  --warning: red;

  --font-color: #ffffff;
  --shadow-color: #333333;

  /*card*/
  --card-bg: #fff;
  --card-title-color: rgb(255, 80, 133);
  --cross-icon-color: #6c757d;
  --card-container-bg: rgb(235, 233, 233);

  /*Text-Utility*/
  --grey-color: rgb(133, 129, 129);

  /*Modal*/
  --grey-light: rgb(209, 204, 204);
}

* {
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 1.9rem;
}
h4 {
  font-size: 1.6rem;
  margin: 0;
}
h5 {
  font-size: 1.328rem;
}
h6 {
  font-size: 1.2rem;
}
p {
  font-size: 1.4rem;
}
.main-container {
  align-items: center;
  background-color: var(--main-bg-color);
  display: flex;
  gap: 2rem;
  height: auto;
  justify-content: center;
  margin: 5rem;
  padding: 2rem;
  width: 50rem;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.none {
  display: none;
}
a {
  text-decoration: none;
  color: var(--shadow-color);
}
.icon-lg {
  font-size: 3.5rem;
}
.icon-md {
  font-size: 2.5rem;
}
.icon-sm {
  font-size: 1.5rem;
}
.flex-row {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.font-sm {
  font-size: 1.3rem;
}
.font-md {
  font-size: 1.6rem;
}
.font-lg {
  font-size: 2rem;
}
