.sidebar {
  flex-basis: 20rem;
  margin: 1rem 0 0 1rem;
  position: sticky;
  top: 17rem;
  height: 100%;
}
.list-topic {
  font-size: 1.7rem;
  font-weight: 600;
  margin-left: 0.8rem;
}
.list-subtopic {
  list-style: none;
  padding-left: 0;
  font-size: 1.4rem;
  gap: 1.2rem;
  margin-left: 0.8rem;
}
.list-itm:hover:not(.active) {
  color: var(--secondary);
}
.active {
  color: var(--primary);
}

@media screen and (max-width: 700px) {
  .sidebar {
    display: none;
  }
}
