<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/components.css" />
    <title>Image</title>
  </head>
  <body>
    <!--Square Image-->
    <div class="main-container">
      <img
        src="/asset/image/virat.jpg"
        alt="virat kohli"
        class="sq-img image"
      />
      <img src="/asset/image/cr7.jpg" alt="cristiano" class="sq-img image" />
    </div>

    <!--Round Image-->

    <div class="main-container">
      <img
        src="/asset/image/virat.jpg"
        alt="virat kohli"
        class="round-img image"
      />
      <img src="/asset/image/cr7.jpg" alt="cristiano" class="round-img image" />
    </div>

    <!--Responsive image-->

    <div class="resp-img-container">
      <img src="/asset/image/apd.jpg" alt="AP Dhillon" class="resp-img" />
    </div>
  </body>
</html>
