<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/components.css" />
    <title>Text-Utility</title>
  </head>
  <body>
    <div class="main-container flex-col bg-color">
      <!--Heading-->
      <section class="flex-col">
        <h1 class="heading">h1. one8 Heading</h1>
        <h2 class="heading">h2. one8 Heading</h2>
        <h3 class="heading">h3. one8 Heading</h3>
        <h4 class="heading">h4. one8 Heading</h4>
        <h5 class="heading">h5. one8 Heading</h5>
        <h6 class="heading">h6. one8 Heading</h6>
      </section>
      <hr class="horizontal-line" />

      <!--ALignment-->

      <section class="alignment">
        <p class="left-align">Left Align</p>
        <p class="center-align">Center Align</p>
        <p class="right-align">Right Align</p>
      </section>
      <hr class="horizontal-line" />

      <!--Grey Text-->

      <section>
        <small class="grey-color">small grey text</small>
        <p class="grey-color">grey text</p>
        <p class="grey-color"><strong>grey text</strong></p>
        <h3 class="heading grey-color">grey text</h3>
      </section>
      <hr class="horizontal-line" />

      <!--Font Size-->

      <section>
        <p class="fs-6">font-size 6</p>
        <p class="fs-5">font-size 5</p>
        <p class="fs-4">font-size 4</p>
        <p class="fs-3">font-size 3</p>
        <p class="fs-2">font-size 2</p>
        <p class="fs-1">font-size 1</p>
      </section3>
    </div3
  </body3
</html>