<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/b84d0d614d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/components.css" />
    <title>Card Designs</title>
  </head>
  <body>
    <div class="card-container">
      <!--Card with badge-->

      <div class="card">
        <div>
          <section class="relative">
            <span class="absolute card-badge">Insane</span>
            <img src="/asset/image/apdhillon.jpg" alt="" />
          </section>
          <section class="sec-2">
            <h3>AP Dhillon</h3>
            <p>by Prashant Peeyush</p>
          </section>
        </div>

        <section class="sec-3">
          AP Dhillon, is an Indian singer, rapper, songwriter and record
          producer associated with Punjabi music
        </section>
        <footer class="sec-4">
          <h4>READ</h4>
          <h4>BOOKMARK</h4>
          <i class="far fa-heart"></i>
          <i class="fas fa-share-alt"></i>
          <i class="fas fa-ellipsis-v"></i>
        </footer>
      </div>

      <!--Text Overlay Card-->

      <div class="card">
        <div class="relative">
          <section><img src="/asset/image/apdhillon.jpg" alt="" /></section>

          <section class="sec-2 absolute">
            <h3>AP Dhillon</h3>
            <p>by Prashant Peeyush</p>
          </section>
        </div>

        <section class="sec-3">
          AP Dhillon, is an Indian singer, rapper, songwriter and record
          producer associated with Punjabi music
        </section>
        <footer class="sec-4">
          <h4>READ</h4>
          <h4>BOOKMARK</h4>
          <i class="far fa-heart"></i>
          <i class="fas fa-share-alt"></i>
          <i class="fas fa-ellipsis-v"></i>
        </footer>
      </div>

      <!--cross badge card-->

      <div class="card">
        <div class="relative">
          <span class="absolute cross-badge">X</span>
          <section><img src="/asset/image/apdhillon.jpg" alt="" /></section>
          <section class="sec-2">
            <h3>AP Dhillon</h3>
            <p>by Prashant Peeyush</p>
          </section>
        </div>

        <section class="sec-3">
          AP Dhillon, is an Indian singer, rapper, songwriter and record
          producer associated with Punjabi music
        </section>
        <footer class="sec-4">
          <h4>READ</h4>
          <h4>BOOKMARK</h4>
          <i class="far fa-heart"></i>
          <i class="fas fa-share-alt"></i>
          <i class="fas fa-ellipsis-v"></i>
        </footer>
      </div>

      <!--Text Only Card-->

      <div class="card">
        <div>
          <section>
            <img src="/asset/image/apdhillon.jpg" alt="" class="none" />
          </section>
          <section class="sec-2">
            <h3>AP Dhillon</h3>
            <p>by Prashant Peeyush</p>
          </section>
        </div>

        <section class="sec-3">
          AP Dhillon, is an Indian singer, rapper, songwriter and record
          producer associated with Punjabi music.Five of his singles have peaked
          on the Official Charts
        </section>
        <footer class="sec-4 none">
          <h4>READ</h4>
          <h4>BOOKMARK</h4>
          <i class="far fa-heart"></i>
          <i class="fas fa-share-alt"></i>
          <i class="fas fa-ellipsis-v"></i>
        </footer>
      </div>

      <!--Horizontal Card-->

      <div class="card horizontal-card">
        <div class="horizontal-sec">
          <section><img src="/asset/image/apdhillon.jpg" alt="" /></section>
          <section class="sec-2">
            <h3>AP Dhillon</h3>
            <p>by Prashant Peeyush</p>
          </section>
        </div>

        <section class="sec-3 none">
          AP Dhillon, is an Indian singer, rapper, songwriter and record
          producer associated with Punjabi music
        </section>
        <footer class="sec-4">
          <h4>READ</h4>
          <h4>BOOKMARK</h4>
          <i class="far fa-heart"></i>
          <i class="fas fa-share-alt"></i>
          <i class="fas fa-ellipsis-v"></i>
        </footer>
      </div>

      <!--Card-Shadow-->

      <div class="card card-shadow">
        <div>
          <section>
            <img src="/asset/image/apdhillon.jpg" alt="" class="none" />
          </section>
          <section class="sec-2">
            <h3>AP Dhillon</h3>
            <p>by Prashant Peeyush</p>
          </section>
        </div>

        <section class="sec-3">
          AP Dhillon, is an Indian singer, rapper, songwriter and record
          producer associated with Punjabi music.Five of his singles have peaked
          on the Official Charts
        </section>
        <footer class="sec-4 none">
          <h4>READ</h4>
          <h4>BOOKMARK</h4>
          <i class="far fa-heart"></i>
          <i class="fas fa-share-alt"></i>
          <i class="fas fa-ellipsis-v"></i>
        </footer>
      </div>
    </div>
  </body>
</html>
