<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/components.css" />
    <title>Input</title>
  </head>
  <body>
    <!--Textfeild-->
    <div class="input-container flex-col">
      <section class="input-section flex-col">
        <span class="font-sm">Username*</span>
        <input type="text" class="textfeild" />
      </section>
      <section class="input-section wrong-input flex-col">
        <span class="font-sm">Password*</span>
        <input type="text" class="textfeild" />
        <span class="font-sm">Wrong Password. Try again.</span>
      </section>
    </div>

    <!--Radio Button-->
    <div class="input-container flex-row">
      <section class="flex-row">
        <input type="radio" name="abc" checked="checked" class="choice" /><span
          class="font-sm"
          >Checked</span
        >
      </section>
      <section class="flex-row">
        <input type="radio" name="abc" class="choice" /><span class="font-sm"
          >Unchecked</span
        >
      </section>
      <section class="flex-row">
        <input type="radio" name="abc" class="disabled" /><span class="font-sm"
          >Disabled</span
        >
      </section>
    </div>

    <!--Checkbox-->
    <div class="input-container flex-row">
      <section class="flex-row">
        <input
          type="checkbox"
          name="abc"
          checked="checked"
          class="choice"
        /><span class="font-sm">Checked</span>
      </section>
      <section class="flex-row">
        <input type="checkbox" name="abc" class="choice" /><span class="font-sm"
          >Unchecked</span
        >
      </section>
      <section class="flex-row">
        <input type="checkbox" name="abc" class="disabled" /><span
          class="font-sm"
          >Disabled</span
        >
      </section>
    </div>

    <!--textarea-->
    <div class="input-container flex-row">
      <textarea
        name=""
        id=""
        cols="50"
        rows="4"
        class="textarea"
        placeholder="Enter your address"
      ></textarea>
    </div>
  </body>
</html>
