<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/b84d0d614d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/components.css" />
    <title>Button</title>
  </head>
  <body>
    <!--Normal Button-->
    <div class="main-container">
      <button class="primary button">Primary</button>
      <button class="secondary button">Secondary</button>
      <button class="disabled button">Disabled</button>
    </div>

    <!--Link Button-->
    <div class="main-container">
      <button class="link button"><a href="">LINK</a></button>
    </div>

    <!--Icon Button-->
    <div class="main-container">
      <button class="primary button">
        <i class="fas fa-envelope"></i>Email
      </button>
      <button class="icon-button button">
        Call Us<i class="fas fa-phone-alt"></i>
      </button>
    </div>

    <!--Floating Action Button-->
    <div class="main-container">
      <button class="floating-action-button">
        <i class="fas fa-plus icon-sm"></i>
      </button>
      <button class="floating-action-button">
        <i class="fas fa-pen"></i>
      </button>
    </div>
  </body>
</html>
