<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/components.css" />
    <title>Avatar</title>
  </head>
  <body>
    <!--Profile Avatar-->

    <div class="avatar-container">
      <img class="avatar" src="/asset/image/virat.jpg" alt="virat kohli" />
      <img class="avatar" src="/asset/image/apd.jpg" alt="ap dhillon" />
      <img class="avatar" src="/asset/image/cr7.jpg" alt="cristiano" />
    </div>

    <!--Sizes Avatar-->

    <div class="avatar-container">
      <img class="avatar sm" src="/asset/image/virat.jpg" alt="virat kohli" />
      <img class="avatar md" src="/asset/image/apd.jpg" alt="ap dhillon" />
      <img class="avatar lg" src="/asset/image/cr7.jpg" alt="cristiano" />
    </div>

    <!--Square Avatar-->

    <div class="avatar-container">
      <img
        class="avatar square sm"
        src="/asset/image/virat.jpg"
        alt="virat kohli"
      />
      <img
        class="avatar square md"
        src="/asset/image/apd.jpg"
        alt="ap dhillon"
      />
      <img
        class="avatar square lg"
        src="/asset/image/cr7.jpg"
        alt="cristiano"
      />
    </div>
  </body>
</html>
