/* ROUND AVATAR*/
.avatar {
  border-radius: 50%;
  height: 6rem;
  object-fit: cover;
  width: 6rem;
}

/* SIZES AVATAR*/

.sm {
  height: 3rem;
  width: 3rem;
}
.md {
  height: 4rem;
  width: 4rem;
}
.lg {
  height: 5rem;
  width: 5rem;
}

/* SQUARE AVATAR*/

.square {
  border-radius: 10%;
}
