<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/b84d0d614d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/components.css" />
    <title>List</title>
  </head>
  <body>
    <!--Normal List-->
    <div class="list-container">
      <h4 class="list-title">Categories</h4>
      <hr class="horizontal-line" />
      <ul class="list">
        <li class="list-item">Home</li>
        <li class="list-item">Laptops</li>
        <li class="list-item">Smartphones</li>
        <li class="list-item">Headphones</li>
        <li class="list-item">Watches</li>
      </ul>
    </div>

    <!--Stacked List-->

    <div class="stacked-list flex-row">
      <i class="fas fa-pizza-slice icon-md"></i>
      <p>
        Slow and steady wins nothing. That's why we delivered your order in 15
        mins.
      </p>
    </div>
    <div class="stacked-list flex-row">
      <i class="fas fa-tshirt icon-md"></i>
      <p>
        Your order for Roadster black t-shirt has been shipped. You will receive
        it by Wednesday.
      </p>
    </div>
    <div class="stacked-list flex-row">
      <i class="fas fa-tshirt icon-md"></i>
      <p>
        Your order for Roadster black t-shirt has been shipped. You will receive
        it by Wednesday.
      </p>
    </div>
  </body>
</html>
