.rating-star {
  cursor: pointer;
  color: var(--yellow-shade);
  transition: filter linear 0.3s;
}

.rating-star:hover {
  filter: drop-shadow(1px 1px 4px gold);
}
.rating {
  width: 18rem;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  padding: 0.5rem;
  overflow: hidden;
}
