<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/b84d0d614d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/components.css" />
    <title>Badges</title>
  </head>
  <body>
    <!--Badge on Avatar-->
    <div class="avatar-container">
      <div class="badge">
        <img class="avatar" src="/asset/image/virat.jpg" alt="virat kohli" />
        <span class="online"></span>
      </div>
      <div class="badge">
        <img class="avatar" src="/asset/image/apd.jpg" alt="ap dhillon" />
        <span class="offline"></span>
      </div>
      <div class="badge">
        <img class="avatar" src="/asset/image/cr7.jpg" alt="cristiano" />
        <span class="dnd"></span>
      </div>
    </div>

    <!--Badge on icons-->

    <div class="avatar-container">
      <div class="badge">
        <span class="number">5</span>
        <i class="fas fa-shopping-cart icon-lg"></i>
      </div>
      <div class="badge">
        <i class="fab fa-telegram-plane icon-lg"></i>
        <span class="number">7</span>
      </div>
      <div class="badge">
        <i class="fas fa-user-friends icon-lg"></i>
        <span class="number">3</span>
      </div>
    </div>
  </body>
</html>
