<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/components.css" />
    <title>Modal</title>
  </head>
  <body>
    <!--Descriptive Modal-->
    <div class="modal">
      <section class="modal-heading flex-row">
        <h4>Modal Title</h4>
        <span class="icon-md">X</span>
      </section>
      <hr class="horizontal-line" />
      <section class="modal-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
          natus consequuntur recusandae placeat, numquam quibusdam nam eaque
          quis possimus corrupti.
        </p>
      </section>
      <hr class="horizontal-line" />
      <footer class="modal-footer flex-row">
        <button class="primary button">Close</button>
        <button class="secondary button">Save</button>
      </footer>
    </div>

    <!--Input Modal-->

    <div class="modal">
      <section class="modal-heading flex-row">
        <h4>Modal Title</h4>
        <span class="icon-md">X</span>
      </section>

      <section class="modal-body flex-col">
        <p>First Name</p>
        <input type="text" class="modal-input" />
        <p>Last Name</p>
        <input type="text" class="modal-input" />
      </section>

      <footer class="modal-footer flex-row">
        <button class="primary button">Close</button>
        <button class="secondary button">Save</button>
      </footer>
    </div>
  </body>
</html>
