<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/b84d0d614d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/components.css" />
    <title>one8Ui | Modal</title>
  </head>
  <body>
    <div class="container">
      <!--Navigation-->
      <nav class="navbar flex-row">
        <div class="lib-title">
          <a href="/index.html"
            ><h2 class="left-nav">
              one8<span class="highlight-text">Ui</span>
            </h2></a
          >
        </div>
        <div class="drawar-container">
          <div class="left-nav" id="data-drawar">
            <i class="fas fa-bars icon-md"></i>
          </div>

          <div class="backdrop"></div>
          <div class="drawar">
            <a href="/index.html"
              ><h2 class="left-nav">
                one8<span class="highlight-text">Ui</span>
              </h2></a
            >
            <!--Get Started List Start-->
            <div class="list-topic">Get Started</div>
            <hr class="horizontal-line" />
            <ul class="list-subtopic flex-col">
              <li>
                <a href="/Get Started/introduction.html" class="list-itm"
                  >Introduction</a
                >
              </li>
            </ul>
            <!--Component list start-->
            <div class="list-topic">Components</div>
            <hr class="horizontal-line" />
            <ul class="list-subtopic flex-col">
              <li>
                <a href="/Components/Alert/alert.html" class="list-itm"
                  >Alert</a
                >
              </li>
              <li>
                <a href="/Components/Avatar/avatar.html" class="list-itm"
                  >Avatar</a
                >
              </li>
              <li>
                <a href="/Components/Badge/badge.html" class="list-itm"
                  >Badge</a
                >
              </li>
              <li>
                <a href="/Components/Button/button.html" class="list-itm"
                  >Button</a
                >
              </li>
              <li>
                <a href="/Components/Card/card.html" class="list-itm">Card</a>
              </li>
              <li>
                <a href="/Components/Grid/grid.html" class="list-itm">Grid</a>
              </li>
              <li>
                <a href="/Components/Image/image.html" class="list-itm"
                  >Image</a
                >
              </li>
              <li>
                <a href="/Components/Input/input.html" class="list-itm"
                  >Input</a
                >
              </li>
              <li>
                <a href="/Components/List/list.html" class="list-itm">List</a>
              </li>
              <li>
                <a href="/Components/Modal/modal.html" class="list-itm active"
                  >Modal</a
                >
              </li>
              <li>
                <a
                  href="/Components/Navigation/navigation.html"
                  class="list-itm"
                  >Navigation</a
                >
              </li>
              <li>
                <a href="/Components/Rating/rating.html" class="list-itm"
                  >Rating</a
                >
              </li>
              <li>
                <a href="/Components/Slider/slider.html" class="list-itm"
                  >Slider</a
                >
              </li>
              <li>
                <a href="/Components/Toast/toast.html" class="list-itm"
                  >Toast</a
                >
              </li>
              <li>
                <a href="/Components/Text-Utility/text.html" class="list-itm"
                  >Text Utility</a
                >
              </li>
            </ul>
          </div>
        </div>

        <section class="right-nav flex-row">
          <a href=""><p class="document">Docs</p></a>
          <a href="https://github.com/PeeyushPrashant" target="_blank"
            ><i class="fab fa-github icon-sm"></i
          ></a>
          <a
            href="https://www.linkedin.com/in/prashant-peeyush-9369bb19a/"
            target="_blank"
          >
            <i class="fab fa-linkedin-in icon-sm"></i
          ></a>
          <a href="https://twitter.com/PrashantPeeyush" target="_blank"
            ><i class="fab fa-twitter icon-sm"></i
          ></a>
        </section>
      </nav>

      <div class="doc-container flex-row">
        <!--Aside-->
        <aside class="sidebar">
          <!--Get Started List Start-->
          <div class="list-topic">Get Started</div>
          <hr class="horizontal-line" />
          <ul class="list-subtopic flex-col">
            <li>
              <a href="/Get Started/introduction.html" class="list-itm"
                >Introduction</a
              >
            </li>
          </ul>

          <!--Component list start-->
          <div class="list-topic">Components</div>
          <hr class="horizontal-line" />
          <ul class="list-subtopic flex-col">
            <li>
              <a href="/Components/Alert/alert.html" class="list-itm">Alert</a>
            </li>
            <li>
              <a href="/Components/Avatar/avatar.html" class="list-itm"
                >Avatar</a
              >
            </li>
            <li>
              <a href="/Components/Badge/badge.html" class="list-itm">Badge</a>
            </li>
            <li>
              <a href="/Components/Button/button.html" class="list-itm"
                >Button</a
              >
            </li>
            <li>
              <a href="/Components/Card/card.html" class="list-itm">Card</a>
            </li>
            <li>
              <a href="/Components/Grid/grid.html" class="list-itm">Grid</a>
            </li>
            <li>
              <a href="/Components/Image/image.html" class="list-itm">Image</a>
            </li>
            <li>
              <a href="/Components/Input/input.html" class="list-itm">Input</a>
            </li>
            <li>
              <a href="/Components/List/list.html" class="list-itm">List</a>
            </li>
            <li>
              <a href="" class="list-itm active">Modal</a>
            </li>
            <li>
              <a href="/Components/Navigation/navigation.html" class="list-itm"
                >Navigation</a
              >
            </li>
            <li>
              <a href="/Components/Rating/rating.html" class="list-itm"
                >Rating</a
              >
            </li>
            <li>
              <a href="/Components/Slider/slider.html" class="list-itm"
                >Slider</a
              >
            </li>
            <li>
              <a href="/Components/Toast/toast.html" class="list-itm">Toast</a>
            </li>
            <li>
              <a href="/Components/Text-Utility/text.html" class="list-itm"
                >Text Utility</a
              >
            </li>
          </ul>
        </aside>

        <!--Doc Content-->

        <div class="doc-content flex-col">
          <h1 class="content-title">Modal</h1>
          <div class="content-subtitle">
            Modal is positioned over everything else in the document and remove
            scroll from the &lt;body&gt; so that modal content scrolls instead.
          </div>
          <hr class="horizontal-line" />
          <!--Static Modal-->

          <h3 class="content-title">Static Modal</h3>
          <div class="content-subtitle">
            Below is a static modal example (meaning its position and display
            have been overridden). Included are the modal header, modal body
            (required for padding), and modal footer (optional). We ask that you
            include modal headers with dismiss actions whenever possible, or
            provide another explicit dismiss action.
          </div>
          <div class="example-div flex-col">
            <div class="modal">
              <header class="modal-heading flex-row">
                <h4>Modal Title</h4>
                <span class="icon-md">X</span>
              </header>
              <hr class="horizontal-line" />
              <section class="modal-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Expedita natus consequuntur recusandae placeat, numquam
                  quibusdam nam eaque quis possimus corrupti.
                </p>
              </section>
              <hr class="horizontal-line" />
              <footer class="modal-footer flex-row">
                <button class="btn btn-primary">Close</button>
                <button class="btn btn-secondary">Save</button>
              </footer>
            </div>
          </div>
          <div class="code-snippet">
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FPeeyushPrashant%2Fcode-snippet%2Fblob%2Fmain%2Fstatic%2520modal&style=vs2015&showBorder=on&showCopy=on"></script>
          </div>
          <hr class="horizontal-line" />
          <!--Input Modal-->

          <h3 class="content-title">Input Modal</h3>
          <div class="content-subtitle">
            Below is a input modal asking for input from user. Included are the
            modal header, modal body, and modal footer (optional). We have used
            &lt;input&gt; tag for taking input from user.
          </div>
          <div class="example-div flex-col">
            <div class="modal">
              <section class="modal-heading flex-row">
                <h4>Modal Title</h4>
                <span class="icon-md">X</span>
              </section>

              <section class="modal-body flex-col">
                <p>First Name</p>
                <input type="text" class="modal-input" />
                <p>Last Name</p>
                <input type="text" class="modal-input" />
              </section>

              <footer class="modal-footer flex-row">
                <button class="btn btn-primary">Close</button>
                <button class="btn btn-secondary">Save</button>
              </footer>
            </div>
          </div>
          <div class="code-snippet">
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FPeeyushPrashant%2Fcode-snippet%2Fblob%2Fmain%2Finput%2520modal&style=vs2015&showBorder=on&showCopy=on"></script>
          </div>
        </div>
      </div>
    </div>
    <script src="/index.js"></script>
  </body>
</html>
