<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/b84d0d614d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/components.css" />
    <title>one8Ui | Alert</title>
  </head>
  <body>
    <div class="container">
      <!--Navigation-->
      <nav class="navbar flex-row">
        <a href="/index.html"
          ><h2 class="left-nav">
            one8<span class="highlight-text">Ui</span>
          </h2></a
        >
        <section class="right-nav flex-row">
          <a href=""><p class="document">Docs</p></a>
          <a href="https://github.com/PeeyushPrashant" target="_blank"><i class="fab fa-github icon-sm"></i></a>
          <a href="https://www.linkedin.com/in/prashant-peeyush-9369bb19a/" target="_blank"> <i class="fab fa-linkedin-in icon-sm"></i></a>
          <a href="https://twitter.com/PrashantPeeyush" target="_blank"><i class="fab fa-twitter icon-sm"></i></a>
        </section>
      </nav>

      <div class="doc-container flex-row">
        <!--Aside-->
        <aside class="sidebar">
          <!--Get Started List Start-->
          <div class="list-topic">Get Started</div>
          <hr class="horizontal-line" />
          <ul class="list-subtopic flex-col">
            <li><a href="/Get Started/introduction.html" class="list-itm">Introduction</a></li>
          </ul>

          <!--Component list start-->
          <div class="list-topic">Components</div>
          <hr class="horizontal-line" />
          <ul class="list-subtopic flex-col">
            <li>
              <a href="" class="list-itm"
                >Alert</a
              >
            </li>
            <li>
              <a href="/Components/Avatar/avatar.html" class="list-itm"
                >Avatar</a
              >
            </li>
            <li>
              <a href="/Components/Badge/badge.html" class="list-itm"
                >Badge</a
              >
            </li>
            <li>
              <a href="/Components/Button/button.html" class="list-itm"
                >Button</a
              >
            </li>
            <li>
              <a href="/Components/Card/card.html" class="list-itm">Card</a>
            </li>
            <li>
              <a href="/Components/Image/image.html" class="list-itm"
                >Image</a
              >
            </li>
            <li>
              <a href="/Components/Input/input.html" class="list-itm"
                >Input</a
              >
            </li>
            <li>
              <a href="/Components/List/list.html" class="list-itm">List</a>
            </li>
            <li>
              <a href="/Components/Modal/modal.html" class="list-itm"
                >Modal</a
              >
            </li>
            <li>
              <a href="/Components/Text-Utility/text.html" class="list-itm"
                >Text Utility</a
              >
            </li>
          </ul>
        </aside>

        <!--Doc Content-->

        <div class="doc-content flex-col">
          <h1 class="content-title">Alert</h1>
          <div class="content-subtitle">
            An alert displays a short, important message in a way that attracts the user's attention without interrupting the user's task.
          </div>
          <hr class="horizontal-line" />
          <!--Simple Alert-->

          <h3 class="content-title">Simple Alert</h3>
          <div class="content-subtitle">Simple Alerts can be created using <span class="highlight-text">alert</span> class, followed by the variant name.</div>
          <div class="example-div flex-col">
            <div class="alert primary">A simple primary alert <strong>(Primary!)</strong></div>
            <div class="alert success">A simple success alert <strong>(Success!)</strong></div>
            <div class="alert warning">A simple warning alert <strong>(Warning!)</strong></div>
            <div class="alert danger">A simple danger alert <strong>(Danger!)</strong></div>
          </div>
          <div class="code-snippet">
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FPeeyushPrashant%2Fcode-snippet%2Fblob%2Fmain%2Fsimple%2520alert&style=vs2015&showBorder=on&showCopy=on"></script>
          </div>
          <hr class="horizontal-line" />
          <!--Icon Alert-->

          <h3 class="content-title">Icon Alert</h3>
          <div class="content-subtitle">Icon Alerts can be created using <span class="highlight-text">alert</span> class, followed by the variant name. The icon used here is taken from <span class="highlight-text">font-awesome.</span></div>
          <div class="example-div flex-col">
            <div class="alert primary"><i class="fas fa-bell-slash"></i>A simple primary alert (Primary!)</div>
            <div class="alert success"><i class="fas fa-check-circle"></i>A simple success alert (Success!)</div>
            <div class="alert warning"><i class="fas fa-exclamation-circle"></i></i>A simple warning alert (Warning!)</div>
            <div class="alert danger"><i class="fas fa-exclamation-triangle"></i>A simple danger alert (Danger!)</div>
          </div>
          <div class="code-snippet">
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2FPeeyushPrashant%2Fcode-snippet%2Fblob%2Fmain%2Ficon%2520alert.html&style=vs2015&showBorder=on&showCopy=on"></script>
          </div>
        <div> 
      </div>
    </div>
  </body>
</html>
